%div#users_container
  %div#content
    %h3.users_titles Resend Confirmation Instructions

    %div.content_block
      = semantic_form_for resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post } do |form|
        = form.inputs :email
        = form.actions do
          = form.action :submit, :label => 'Resend confirmation instructions'
    = render "users/shared/links"
