%div#users_container
  %div#content
    %h3.users_titles Resend Confirmation Instructions

    %div.content_block
      %div.users_form
        = form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f|
          = devise_error_messages!
          %div
            = f.label :email
            %br/
            = f.email_field :email, :autofocus => true
          %div= f.submit "Resend confirmation instructions"
    = render "users/shared/links"
