%h1 Editing channel

= semantic_form_for @channel, :url => user_channel_url(@channel) do |form|
  = form.inputs :name, :url
  = form.actions do
    = form.action :submit, :label => 'Save'

= link_to 'Show', user_channel_url(@channel)
\|
= link_to 'Back', user_channels_url
