%h3.channel_titles Channels List

%table.table
  %tr
    %th Name
    %th Feed Url
    %th Items
    %th

  - if @channels.any?
    - @channels.each do |channel|
      %tr
        %td= channel.name
        %td= channel.url
        %td= channel.articles.size
        %td
          .btn-group
            = link_to 'Show', user_channel_url(channel), :class => 'btn btn-mini'
            = link_to 'Edit', edit_user_channel_url(channel), :class => 'btn btn-mini'
            = link_to 'Destroy', user_channel_url(channel), :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-danger btn-mini'
  - else
    %tr
      %td
        %i No channels to display, try adding one.

%p.channel_links
  = link_to 'Add Channel', new_user_channel_url, :class => 'btn'
