%div#article_options
  - if @channel
    %span.channel_name
      = @channel.name
      \|
    %span
      %i
        - if @unread_count
          %span.unread_count
            = @unread_count
          %span Unread Items
        - else
          %span.unread_count 0
          %span Unread Items
      \-
      %span= link_to 'All items', '#none', '_data-path' => user_channel_articles_list_url(@channel.id, :fetch => 'all'), :class => 'display_all_channel_articles'

      - if @articles.any?
        \|
        %span= link_to 'Mark all as read', '#none', :class => 'mark_all_articles', '_data-path' => user_channel_articles_mark_all_url(@channel.id)
        \|
        %span= link_to 'Refresh', '#none', :class => 'refresh_channel_articles'

%div#articles
  - if @articles.any?
    - @articles.each do |article|
      - if article.read
        %p{:class => "article", "_data-path" => user_channel_article_mark_as_read_url(article.channel.id, article.id)}
          = render :partial => 'article', :locals => {:article => article}
      - else
        %p{:class => "article unread", "_data-path" => user_channel_article_mark_as_read_url(article.channel.id, article.id)}
          = render :partial => 'article', :locals => {:article => article}
  - else
    %p.no_articles
      No articles to display