%div#article_options
  %span 1XX Unread Items -
  %span= link_to 'All items', '#none'
  \|
  %span= link_to 'Mark all as read', '#none'
  \|
  %span= link_to 'Refresh', '#none'

%div#articles
  - @articles.each do |article|
    - if article.read
      %p{:class => "article", "_data-id" => article.id, "_data-channel_id" => article.channel_id}
        %span.title
          = article.title
        %span.summary
          = article.description
        %span.date
          = distance_of_time_in_words_to_now article.pub_date

    - else
      %p{:class => "article unread", "_data-id" => article.id, "_data-channel_id" => article.channel_id}
        %span.title
          = article.title
        %span.summary
          = article.description
        %span.date
          = distance_of_time_in_words_to_now article.pub_date
