%div#article_options
  %span 1XX Unread Items -
  %span= link_to 'All items', '#none'
  \|
  %span= link_to 'Mark all as read', '#none'
  \|
  %span= link_to 'Refresh', '#none'

%div#articles
  - @articles.each do |article|
    %p.article
      - if article.read?
        %span.title
          = article.title
      - else
        %span.title.unread
          = article.title
      %span.summary
        = article.description
      %span.date
        = distance_of_time_in_words_to_now article.pub_date
