= semantic_form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post, :class => 'form-horizontal' }) do |form|
  = form.inputs :title => 'Resend Unlock Instructions' do
    = form.input :email
  = form.actions do
    = form.action :submit, :label => 'Send', :button_html => {:class => 'btn btn-primary', :disable_with => 'Sending...'}

= render "users/shared/links"
