= semantic_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, :class => 'form-horizontal' }) do |form|
  = form.inputs :title => 'Change Password' do
    = form.input :reset_password_token, :as => :hidden
    = form.input :new_password
    = form.input :password_confirmation
  = form.actions do
    = form.action :submit, :label => 'Change', :button_html => {:class => 'btn btn-primary', :disable_with => 'Updating...'}

= render "users/shared/links"
