%div#nav
  - if user_signed_in?
    %div.search_form
      = render :partial => 'user/search/form'
    %div.nav_link
      = link_to 'Edit Profile', edit_user_registration_url
    %div.nav_link
      = link_to 'Logout', destroy_user_session_url, :method => :delete
  - else
    %div.nav_link
      = link_to 'Login', new_user_session_url
    %div.nav_link
      = link_to 'Sign Up', new_user_registration_url
  %div.nav_link
    = link_to 'Home', root_url