%div#users_container
  %div#content
    %h3.users_titles Sign up

    %div.content_block

      = semantic_form_for resource, :as => resource_name, :url => registration_path(resource_name) do |form|
        //= devise_error_messages!
        = form.inputs :first_name, :last_name, :username, :email, :password, :password_confirmation
        = form.actions do
          = form.action :submit, :label => 'Submit'

    = render "users/shared/links"
